{% extends 'registration/base.html' %}
{% load bootstrap4 %}


{% block content %}
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="offset-4 col-4">
            <div class="card">
                <div class="card-body">
                    {# Display django.contrib.messages as Bootstrap alerts #}
                    {% bootstrap_messages %}

                    {# Display a form #}
                    <form method="post" class="form-horizontal form-material">
                        {% csrf_token %}
                        {% bootstrap_form form layout='inline' %}
                        {% buttons %}
                        <button type="submit" class="btn btn btn-success d-none d-lg-block">
                            Login
                        </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
{% endblock content %}