{% extends 'dashboard/base.html' %}
{% load bootstrap4 %}


{% block content %}
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Department</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="{% url 'core:department_list' %}">Go Back</a></li>
                </ol>

            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {# Display django.contrib.messages as Bootstrap alerts #}
                    {% bootstrap_messages %}
                    <div class="alert alert-danger">
                        {# Display a form #}
                        <form method="post" class="form-horizontal form-material">
                            {% csrf_token %}
                            <p>Are you sure you want to delete "{{ object }}"?</p>
                            {% buttons %}
                            <button type="submit" class="btn btn-danger">
                                Confirm
                            </button>
                            {% endbuttons %}
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
{% endblock content %}