{% extends 'dashboard/base.html' %}


{% block content %}
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Position</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <a href="{% url 'core:position_create' %}" class="btn btn-success d-none d-lg-block m-l-15">Add
                    Position</a>

            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        {% for position in position_list %}
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    <center>
                                        <h4 class="card-title m-t-10">{{position.title}}</h4>
                                        <h6 class="card-subtitle">{{position.description}}</h6>
                                        <div class="row text-center justify-content-md-center">
                                            <div class="col-4"><a href="{% url 'core:position_update' position.id %}"
                                                    class="btn btn-success btn-sm d-none d-lg-block">Update
                                                </a></div>
                                            <div class="col-4"><a href="{% url 'core:position_delete' position.id %}"
                                                    class="btn btn-sm btn-danger">Delete
                                                </a></div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
{% endblock content %}